html, body, *, nav, ul, li, i {
    margin: 0;
    padding: 0;
}
footer {
    background-color: #F7F9FB;
}
footer a {
    color: #181818;
    text-decoration: none;
}
.fa-linkedin {
    color: #0E6795;
}
footer button {
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    padding: 5px;
    width: 170px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#questions {
    background-color: #0275B1;
    color: #FFF;
}
#settings {
    background-color: #FFF;
    color: #0275B1;
}